### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#calculating the total players
total_players = purchase_data[["SN"]]
total_players = total_players.drop_duplicates()
total_num_players = total_players.count()[0]

#putting calculations into data frame
player_count_df = pd.DataFrame({"Total Players":[total_num_players]})

#calling data frame
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#calculating unique items, avg price, total num of purchases, and total net
unique_items = len(purchase_data['Item Name'].unique())
average_price = purchase_data['Price'].mean()
number_of_purchases = purchase_data['Purchase ID'].count()
total_revenue = purchase_data['Price'].sum()

#putting calculations into data frame
purchasing_analysis_df = pd.DataFrame({
        'Number of Unique Items':[unique_items], 'Average Purchase Price':[average_price],
        'Total Number of Purchases':[number_of_purchases], 'Total Revenue':[total_revenue]})

#formatting % and $ into df
purchasing_analysis_df['Average Purchase Price'] = purchasing_analysis_df['Average Purchase Price'].map("${:.2f}".format)
purchasing_analysis_df['Total Revenue'] = purchasing_analysis_df['Total Revenue'].map("${:.2f}".format)

#calling data frame
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#grouping by gender, SN and Age
player_demo = purchase_data.loc[:, ['Gender', 'SN', 'Age']]

#dropping duplicates
player_demo = player_demo.drop_duplicates()

In [5]:
#counting values by gender
gender_demo_total = player_demo['Gender'].value_counts()

#calculating pct of gender 
gender_pct = gender_demo_total / total_num_players

#putting information into df
gender_demo = pd.DataFrame({"Total Count": gender_demo_total, "Percentage of Players": gender_pct})

#formatting % into df
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:,.2%}".format)

#calling df
gender_demo

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
#grouping by gender
purchase_analysis_gen = purchase_data.groupby('Gender')

#calculating purchase count,avg purchase count, total and avg total
purchase_count = purchase_analysis_gen['Purchase ID'].count()
avg_purchase_price = purchase_analysis_gen['Price'].mean()
total_purchase = purchase_analysis_gen['Price'].sum()
avg_total_purchase = total_purchase / gender_demo_total

#putting info into df
summary_purchase_df = pd.DataFrame({
        'Purchase Count':purchase_count,
        'Average Purchase Price':avg_purchase_price,
        'Total Purchase Value':total_purchase,
        'Avg Total Purchase per Person':avg_total_purchase})

#formatting $ into df
summary_purchase_df['Average Purchase Price'] = summary_purchase_df['Average Purchase Price'].map("${:.2f}".format)
summary_purchase_df['Total Purchase Value'] = summary_purchase_df['Total Purchase Value'].map("${:.2f}".format)
summary_purchase_df['Avg Total Purchase per Person'] = summary_purchase_df['Avg Total Purchase per Person'].map("${:.2f}".format)

#calling df
summary_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [34]:
#making new df
age_demo = purchase_data[['Age', 'SN']].drop_duplicates()

#creating bins and bin labels
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#cutting data into bins
age_demo['Age Group'] = pd.cut(age_demo['Age'], bins, labels=labels)

#getting total count
age_count = age_demo['Age Group'].value_counts()

#finding % 
age_pct = (age_count / total_num_players) * 100

#putting calculations into new df
age_demo = pd.DataFrame({
        'Total Count': age_count,
        'Percentage of Players': age_pct})

#calling df
age_demo

       Total Count  Percentage of Players
20-24          258              44.791667
15-19          107              18.576389
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
10-14           22               3.819444
<10             17               2.951389
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
#purchase_data['Age Group'] = pd.cut(purchase_data['Age'], bins, labels=labels)

#purchase_count = 
#avg_purchase_price = 
#total_purchase = 
#avg_total_purchase =

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame